.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #648671;
  padding: 10px 20px;
  color: white;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-item a:hover {
  color: #00aaff; /* Cambia el color en el hover */
}
